{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.beginAt) }}
    {{ form_row(form.endAt) }}
    {{ form_row(form.place) }}
    <button type="submit" class="btn btn-primary">Valider</button>
{{ form_end(form) }}