{% extends 'base.html.twig' %}

{% block title %}LemonIntApp{% endblock %}

{% block body %}
    <h1>Liste des événements</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Horaires</th>
                <th>Titre</th>
                <th>Inscription</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.beginAt|date('Y-m-d') }}</td>
                    <td>{{ event.beginAt|date('H:i') }} - {{ event.endAt|date('H:i') }}</td>
                    <td>{{ event.title }}</td>
                    <td>
                        {% set isUserRegistered = app.user and event.eventAttendees.contains(app.user) %}
                        {% if app.user %}
                            {% for attendee in event.eventAttendees %}
                                {% if attendee.user[0] == app.user %}
                                    {% set isUserRegistered = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if isUserRegistered %}
                            <a href="{{ path('unregister_for_event', {'event_id': event.id}) }}" class="btn btn-danger">
                                Se désinscrire
                            </a>
                        {% else %}
                            <a href="{{ path('register_for_event', {'event_id': event.id}) }}" class="btn btn-primary">
                                S'inscrire
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
